body{
    font: 14px/2.0
    font-family　-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
    margin:10px;
    color:#313131;
    }

/*****NAV*****/
nav{
    width: 100%;
    border-top: 2px solid rgb(0, 195, 255);
    border-bottom: 2px solid rgb(0, 195, 255);;
    margin-bottom: 5px;
    overflow: hidden;
}
nav ul{
    width: 60%;
    margin-left: 20%;
}
nav li{
    width: calc(25% - 2px);
    font-size: 100%;
    letter-spacing: 5px;
    font-weight: 400;
    line-height: 45px;
    color: #313131;
    cursor: pointer;
    text-align: center;
    float: left;
}

nav li:hover{
    background-color: orange;
    transition: background-color 0.5s ease-out;
    color: #fff;
}
