body{
    font: 14px/2.0
    font-family　-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
    margin:10px;
    color:#313131;
    }

h1 {
    font-size:  45px;
}

h2 {
    font-size: 20px;
}

/***** NAV *****/
nav{
    width: 100%;
    margin-bottom: 5px;
    overflow: hidden;
}
nav ul{
    width: 100%;
    text-align: center;
}
nav li{
    display: inline-block;
    margin: 0px 5px;
    padding: 10px;
    line-height: 20px;
    color: #313131;
    cursor: pointer;
}

nav li:hover{
    background-color: rgb(37, 144, 206);
    transition: background-color 0.5s ease-out;
    color: #fff;
}

/****** profile ******/
#prof {
    text-align: center;
    margin: 0 auto;
}

/****** article *******/
article p{
    margin-left: 10px;
}

footer address{
    margin-top: 25px;
    text-align: center;
}